body{
  margin:0px;
  padding:0px;
  background-color: #c4d495;
}

.row{
  height:100vh;
}

.box{
  background-color: #70ac84;
  width:33%;
  margin-left: 33%;
  height:400px;
  border: 2px solid #41463b;
  border-radius: 15px;
  box-shadow: 1px 1px 20px black;
}

.size{
  font-size: 120px;
}
